<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Orders app</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        {{#if user}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Orders
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {{#each user}}
                {{#compare rol '==' 'admin'}}
                  <li><a class="dropdown-item" href="/orders/add">Add order</a></li>
                {{/compare}}
              {{/each}}
              
              <li><a class="dropdown-item" href="/orders">All orders</a></li>
            </ul>
          </li>          
          {{/if}}
        
      </ul>
      {{#if user}}
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
          <a class="nav-link ml-auto" href="/users/signin">loguot</a>
        </li>
      </ul>
      {{else}}
      <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/users/signin">Signin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/users/signup">Signup</a>
              </li>
          </ul>
      {{/if}}
    </div>
  </div>
</nav>